html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
}

*, *::before, *::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    /*background-color: #FFFFFF;*/
}
/*
img, svg {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
*/
button {
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/*
.overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    text-align: center;
    background-color: #00000096;
    cursor: pointer;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
}

.overlay::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.overlay_open {
    opacity: 1;
    visibility: visible;
}
*/

/*
@media (max-width: 1000px ??) {
    .container {
        max-width: 940px;
    }
}

@media (max-width: 640px ??) {
    .container {
        max-width: 600px;
    }
}

@media (max-width: 320px ??) {
    .container {
        max-width: 300px;

        padding: 0 15px;
    }
}
*/