html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
}

*, *::before, *::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    /*background-color: #FFFFFF;*/
}
/*
img, svg {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
*/
button {
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}