.backstage {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFFFFF;
}

.backstage::before {
    content: '';
    position: absolute;
    right: 0;
    width: 204px;
    height: 613px;
    background-image: url('../../assets/images/flower.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    transform: translateY(-128px);
    z-index: 1;
}

.backstage__container {
    position: relative;
    margin-top: 140px;
    background-color: rgb(255 255 255 / 60%);
    box-shadow: 15px 0px 15px 15px rgb(255 255 255 / 60%);
    z-index: 2;
}

.backstage__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

.backstage__image {
    overflow: hidden;
}

.backstage__img {
    object-fit: cover;
}

.backstage__article {
    max-width: 465px;
    width: 100%;
}

.backstage__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #333B41;
}

.backstage__title-text {
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
}

.backstage__subtitle {
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
}

.backstage__subtitle-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}

@media (max-width: 1000px) {

    .backstage::before {
        display: none;
    }

    .backstage__container {
        margin-top: 108px;
    }

    .backstage__article {
        max-width: 454px;
    }

    .backstage__title {
        margin-top: -9px;
    }
}

@media (max-width: 820px) {

    .backstage {
        padding-left: 20px;
        padding-right: 20px;
    }

    .backstage__container {
        max-width: 495px;
        margin: 68px auto auto 0;
    }

    .backstage__image {
        display: none;
    }

    .backstage::before {
        display: block;
        width: 231px;
        height: 484px;
        background-image: url('../../assets/images/flower_640.png');
        transform: translateY(-73px);
    }

    .backstage__article {
        max-width: 100%;
    }

    .backstage__title {
        margin-left: 4px;
    }

    .backstage__title-text {
        margin-bottom: 31px;
    }

    .backstage__subtitle {
        margin-bottom: 20px;
        margin-left: 4px;
    }
}

@media (max-width: 540px) {

    .backstage__container {
        margin-top: 90px;
    }

    .backstage__title {
        font-size: 38px;
        line-height: 48px;
    }
}

@media (max-width: 428px) {

    .backstage {
        padding-left: 10px;
        padding-right: 10px;
    }

    .backstage::before {
        width: 105px;
        height: 225px;
        background-image: url('../../assets/images/flower_320.png');
        transform: translateY(-66px);
    }

    .backstage__container {
        margin-top: 104px;
        background-color: transparent;
        box-shadow: none;
    }

    .backstage__title {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        font-size: 24px;
        line-height: 29px;
    }

    .backstage__title-text {
        margin-bottom: 20px;
        margin-left: 2px;
    }

    .backstage__subtitle {
        margin-bottom: 10px;
        margin-left: 2px;
    }
}