.backstage {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFFFFF;
}

.backstage::before {
    content: '';
    position: absolute;
    right: 0;
    width: 204px;
    height: 613px;
    background-image: url('../../assets/images/flower.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    transform: translateY(-128px);
}

.backstage__container {
    margin-top: 140px;
}

.backstage__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

.backstage__img {
    object-fit: cover;
}

.backstage__article {
    max-width: 465px;
    width: 100%;
}

.backstage__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #333B41;
}

.backstage__title-text {
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
}

.backstage__subtitle {
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
}

.backstage__subtitle-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}
