.feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 69px 30px 100px;
}

.feed__container {
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
}

.feed__content {
    margin: 0 auto;
    padding: 40px 0 61px;
    text-align: center;
}

.feed__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FE9013;
}

.feed__paragraph1 {
    margin-right: 59px;
    margin-bottom: 40px;
    margin-left: 99px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #333B41;
}

.feed__paragraph2 {
    margin-right: 59px;
    margin-bottom: 10px;
    margin-left: 99px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #333B41;
}

.feed__paragraph3 {
    max-width: 863px;
    margin-right: 59px;
    margin-bottom: 60px;
    margin-left: 99px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #333B41;
}

.feed__link {
    border-bottom: 1px solid #FE9013;
    padding-bottom: 1px;
}

.feed__subtitle {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #333B41;
}

.feed__works-container {
    position: relative;
    display: flex;
    max-width: 764px;
    margin: 0 auto 60px;
    justify-content: space-between;
    gap: 5px;
}

.feed__block {
    width: 168px;
}

.feed__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 168px;
    height: 168px;
    margin-bottom: 30px;
    border: 1px solid #F9804B;
    border-radius: 5px;
    background: #FFFFFF;
}

.feed__works {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #333B41;
}

.feed__arrows {
    margin-top: 60px;
}

.feed__arrow1, 
.feed__arrow2 {
    max-width: 100%;
}

.feed__button {
    display: block;
    max-width: 298px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.feed__button:hover {
    background: #E47209;
}

.feed__button:active {
    background: #4B9200;
}

@media (max-width: 1000px) {

    .feed {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .feed__content {
        padding: 30px 48px 51px 49px;
    }

    .feed__title {
        margin-bottom: 20px;
    }

    .feed__paragraph1 {
        margin: 0 0 20px;
    }

    .feed__paragraph2 {
        margin: 0 0 10px;
    }

    .feed__paragraph3 {
        margin: 0 0 40px;
    }

    .feed__works-container {
        margin: 0 auto 72px;
    }
}

@media (max-width: 768px) {

    .feed__arrow1 {
        position: absolute;
        margin-top: 0;
        transform: translate(-43px, -76px);
    }

    .feed__arrow2 {
        position: absolute;
        margin-top: 0;
        transform: translate(-44px, -77px);
    }
}

@media (max-width: 640px) {

    .feed {
        padding: 19px 0 20px;
    }

    .feed__content {
        padding: 10px 20px 61px;
    }

    .feed__title {
        margin-bottom: 21px;
        font-size: 42px;
        line-height: 50px;
    }

    .feed__paragraph1 {
        margin-bottom: 19px;
        font-size: 22px;
        line-height: 26px;
    }

    .feed__link {
        padding-bottom: 0;
    }

    .feed__paragraph3 {
        margin-bottom: 30px;
    }

    .feed__subtitle {
        margin-bottom: 19px;
    }

    .feed__works-container {
        justify-content: flex-start;
        gap: 21px;
        margin-bottom: 42px;
    }

    .feed__arrow1 {
        transform: translate(-52px, -76px);
    }

    .feed__arrow2 {
        transform: translate(-54px, -77px);
    }
}

@media (max-width: 520px) {

    .feed {
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .feed__content {
        padding: 20px 0 40px;
    }

    .feed__title {
        margin-bottom: 10px;
        font-size: 24px; /* 33px */
        line-height: 29px; /* 40px */
    }

    .feed__paragraph1 {
        margin-right: 2px;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .feed__paragraph2, 
    .feed__paragraph3 {
        display: none;
    }

    .feed__subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .feed__works-container {
        flex-direction: column;
        align-items: center;
        gap: 21px;
        margin-bottom: 39px;
    }

    .feed__icon {
        margin-bottom: 11px;
    }

    .feed__arrows {
        position: relative;
        width: 90px;
        margin-top: 0;
    }

    .feed__arrow1 {
        transform: rotate(84deg);
        top: -30px;
        right: -100px;
    }

    .feed__arrow2 {
        transform: rotate(84deg);
        top: -45px;
        right: -100px;
    }

    .feed__works-container .feed__block:last-of-type {
        margin-top: -15px;
    }
}