.hero {
    background-image: url('../../assets/images/hero_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #283035;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -80px;
}

.hero__container {
    padding-top: 165px;
    padding-bottom: 100px;
}

.hero__content {
    max-width: 500px;
    margin-left: auto;
}

.hero__content::before {
    content: '';
    position: absolute;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    transform: translate(-73px, -73px);
}

.hero__title {
    position: relative;
    margin-bottom: 61px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__title-highlight {
    color: #FFEE2E;
}

.hero__button {
    position: relative;
    display: block;
    max-width: 298px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.hero__button:hover {
    background: #E47209;
}

.hero__button:active {
    background: #4B9200;
}

@media (max-width: 1000px) {

    .hero__container {
        padding-top: 122px;
        padding-bottom: 47px;
    }

    .hero__content {
        max-width: 511px;
    }

    .hero__content::before {
        width: 367px;
        height: 367px;
        transform: translate(-3px, -53px);
    }

    .hero__title {
        margin-bottom: 41px;
        font-size: 85px;
        line-height: 64px;
    }
}

@media (max-width: 940px) {

    .hero__content::before {
        transform: translate(38px, -53px);
    }
}

@media (max-width: 860px) {

    .hero__content {
        max-width: 340px;
    }

    .hero__content::before {
        width: 238px;
        height: 238px;
        transform: translate(-3px, -53px);
    }

    .hero__title {
        margin-bottom: 40px;
        font-size: 54.2894px;
        line-height: 41px;
    }
}

@media (max-width: 640px) {

    .hero {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
    }

    .hero__container {
        padding-top: 34px;
        padding-bottom: 39px;
    }

    .hero__content {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 604px;
        width: 100%;
        justify-content: space-between;
    }

    .hero__content::before {
        top: 9px;
        right: 51px;
        transform: none;
    }

    .hero__title {
        max-width: 248px;
        margin-top: 48px;
        margin-bottom: 0;
        margin-left: auto;
    }

    .hero__button {
        margin: 0;
        margin-top: -7px;
    }
}

@media (max-width: 540px) {

    .hero__content::before {
        width: 180px;
        height: 180px;
    }

    .hero__title {
        font-size: 40px;
        line-height: 31px;
    }

    .hero__button {
        position: absolute;
        left: calc((100% - 298px) / 2);
        margin-top: 245px;
        z-index: 1;
    }
}

@media (max-width: 428px) {

    .hero {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 34px;
    }

    .hero__container {
        position: relative;
        padding-top: 6px;
        padding-bottom: 41px;
    }

    .hero__content {
        position: initial;
        display: block;
        max-width: 129px;
    }

    .hero__content::before {
        width: 120px;
        height: 120px;
        top: 22px;
        right: 27px;
    }

    .hero__title {
        margin-top: 35px;
        font-size: 28px;
        line-height: 21px;
    }

    .hero__button {
        width: 298px;
        margin-top: 61px;
    }
}

@media (max-width: 400px) {

    .hero-active {
        margin-top: 0;
    }
}