.pets {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFFFFF;
}

.pets::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 292px;
    height: 492px;
    background-image: url('../../assets/images/palm.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    transform: translateY(116px);
}

.pets::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 370px;
    height: 275px;
    background-image: url('../../assets/images/strelitzia.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    transform: translateY(100px);
}

.pets__container {
    position: relative;
    margin-top: 177px;
    z-index: 1;
}

.pets__slider {
    position: relative;
    display: flex;
    max-width: 1322px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pets__arrowbutton {
    display: block;
    max-width: 62px;
    width: 100%;
    height: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.pets__arrowbutton:hover {
    background: #E47209;
}

.pets__arrowbutton:active {
    background: #4B9200;
}

.pets__carousel {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pets__content {
    display: flex;
    gap: 29px;
    transition: all 0.5s ease-in-out;
}

.pets__slide {
    display: flex;
    gap: 29px;
}

.pets__card {
    min-width: 366px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    padding: 1px;
}

.pets__block {
    position: relative;
    max-width: 364px;
    background: #ffffff;
    border-radius: 5px;
}

.pets__photo-block {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.pets__photo {
    display: block;
    max-width: 366px;
    width: 100%;
    max-height: 364px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.pets__feature {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 10px;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.animation__right {
    animation: slideRight 1s;
    -webkit-animation: slideRight 1s;
}

.animation__left {
    animation: slideLeft 1s;
    -webkit-animation: slideLeft 1s;
}

@keyframes slideRight {
    0% {
        -webkit-transform: translateX(366px);
        transform: translateX(366px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(366px);
        transform: translateX(366px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        -webkit-transform: translateX(-366px);
        transform: translateX(-366px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(-366px);
        transform: translateX(-366px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.pets__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.pets__habitat {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.pets__block-hover {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pets__about-hover {
    display: none;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.pets__about-hover p:last-child {
    font-weight: 300;
    font-size: 16px;
}

.pets__about-hover p:first-child::after {
    content: '';
    display: block;
    width: 100%;
    margin: 20px auto;
    border-top: 1px solid #F9804B;
}

.pets__block-hover > .pets__about-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.pets__block-hover .pets__about-hover {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
    transform: translate(0px, 250px) rotate(0deg);
}

.pets__block-hover:hover > .pets__about-hover {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.pets__block-hover:hover .pets__photo {
    transform: scale(1.055);
}

.pets__block-hover:hover > .pets__feature {
    opacity: 0;
}

.pets__block-hover:hover .pets__about-hover {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
}

.pets__button {
    display: block;
    max-width: 298px;
    width: 100%;
    margin: 80px auto 100px;
    padding: 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pets__button:hover {
    background: #E47209;
}

.pets__button:active {
    background: #4B9200;
}

@media (max-width: 1599px) {
    .pets::before {
        width: 386px;
        height: 202px;
        background-image: url('../../assets/images/palm_1000.png');
        transform: translate(-192px, 100px);
    }

    .pets::after {
        width: 242px;
        transform: translateY(147px);
    }
}

@media (max-width: 1400px) {

    .pets__carousel {
        gap: 92px;
    }

    .pets__arrowbutton {
        position: absolute;
    }

    .arrow-left {
        left: 200px;
    }

    .arrow-right {
        right: 200px;
    }
}

@media (max-width: 1220px) {

    .pets__content {
        max-width: 942px;
    }

    .pets__card {
        min-width: 294px;
    }
}

@media (max-width: 1000px) {

    .pets::before {
        transform: translate(-192px, 141px);
    }

    .pets::after {
        transform: translateY(188px);
    }

    .pets__container {
        margin-top: 143px;
    }

    .pets__content {
        max-height: 801px;
    }

    .pets__button {
        margin-bottom: 140px;
    }

    .pets__photo {
        height: 293px;
    }

    .pets__feature {
        padding-top: 9px;
    }

    .arrow-left {
        left: calc((100% - 295px) / 2);
    }

    .arrow-right {
        right: calc((100% - 295px) / 2);
    }
}

@media (max-width: 999px) {

    .pets__content {
        max-width: 618px;
    }
}

@media (max-width: 920px) {

    .pets {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pets__container {
        margin-top: 81px;
    }
}

@media (max-width: 820px) {

    .pets::before {
        transform: translate(-252px, 100px);
    }

    .pets::after {
        width: 177px;
        transform: translateY(171px);
    }

    .pets__content {
        max-width: 600px;
    }

    .pets__card {
        min-width: 285px;
    }

    .pets__block {
        max-height: 329px;
    }

    .pets__photo {
        max-width: 285px;
        max-height: 285px;
    }

    .pets__feature {
        padding-top: 5px;
        padding-right: 7px;
        padding-left: 12px;
    }

    .pets__icon {
        width: 33px;
        height: 28px;
    }

    .pets__name {
        font-size: 12.4695px;
        line-height: 17px;
    }

    .pets__habitat {
        font-size: 11.6901px;
        line-height: 14px;
    }

    .arrow-left {
        top: calc((100% - 70px) / 2);
        left: calc((100% - 153px) / 2);
    }

    .arrow-right {
        top: calc((100% - 70px) / 2);
        right: calc((100% - 153px) / 2);
    }

    .pets__button {
        margin-top: 62px;
        margin-bottom: 100px;
    }
}

@media (max-width: 639px) {

    .pets__content {
        max-width: 470px;
    }

    .pets__card {
        min-width: 220px;
    }
}

@media (max-width: 520px) {

    .pets {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pets::before {
        height: 72px;
        transform: translate(-328px, 60px);
    }

    .pets::after {
        width: 85px;
        height: 71px;
        background-image: url('../../assets/images/strelitzia_320.png');
        transform: translateY(64px);
    }

    .pets__container {
        margin-top: 39px;
    }

    .pets__arrowbutton {
        display: none;
    }

    #pets2 {
        display: none;
    }

    .pets__content {
        justify-content: center;
        flex-wrap: wrap;
        max-height: 1388px;
        gap: 18.5px;
    }

    .pets__block {
        max-height: 100%;
    }

    .pets__photo {
        max-width: 284px;
        max-height: 286px;
    }

    .pets__feature {
        padding-top: 5px;
        padding-right: 8px;
        padding-bottom: 9px;
        padding-left: 11px;
    }

    .pets__button {
        margin-top: 21px;
        margin-bottom: 60px;
    }
}

@media (max-width: 320px) {

    .pets__slider {
        justify-content: flex-start;
    }
}