.donate {
    position: relative;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 40px 30px 180px;
    z-index: 1;
}

.donate__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: left;
}

.donate__descr {
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
}

.donate__descr-span {
    font-weight: 400;
}

.donate__info {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #FE9013;
    text-align: left;
}

.donate__content {
    padding: 40px 92px 62px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    text-align: center;
}

.donate__content-title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FE9013;

    margin-right: 13px;
}

.donate__content-subtitle {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
    text-align: left;
}

.donate__amout-block {
    display: flex;
    max-width: 550px;
    width: 100%;
    margin: 0 auto 45px;
    justify-content: flex-start;
    align-items: center;
}

.amount__animal {
    display: none;
    animation: pulsing 1.5s;
    -webkit-animation: pulsing 1.5s;
}

.amount__animal img {
    width: 100%;
}

.amount__animal-active {
    display: block;
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
    100% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.05, 1.05);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(1.0, 1.0);
    }
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.05, 1.05);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(1.0, 1.0);
    }
}

.donate__band-block {
    margin-bottom: 50px;
}

.donate__band-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-align: left;

    margin-left: 4px;
}

.donate__band {
    max-width: 976px;
    width: 100%;
    height: 40px;
    margin-bottom: 6px;
    padding-top: 7px;
    padding-bottom: 6px;
}

.donate__band-base {
    position: relative;
    width: 100%;
    height: 27px;
    padding: 12px;
    background-color: #404950;
    border-radius: 2px;
}

.donate__center-band {
    max-width: 915px;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    background-color: #72828E;
}

.donate__circles {
    position: relative;
    bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 951px;
    width: 100%;
}

.donate__circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 20C25 22.7614 22.7614 25 20 25C17.2386 25 15 22.7614 15 20C15 17.2386 17.2386 15 20 15C22.7614 15 25 17.2386 25 20Z' fill='%23FFEE2E'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.donate__circle-active {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 20C25 22.7614 22.7614 25 20 25C17.2386 25 15 22.7614 15 20C15 17.2386 17.2386 15 20 15C22.7614 15 25 17.2386 25 20Z' fill='%23FFEE2E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.4774 19.9999C31.4774 26.3438 26.3443 31.4769 20.0004 31.4769C13.6566 31.4769 8.52344 26.3438 8.52344 19.9999C8.52344 13.6561 13.6566 8.52295 20.0004 8.52295C26.3443 8.52295 31.4774 13.6561 31.4774 19.9999ZM20.0004 10.3147C25.3757 10.3147 29.7341 14.6246 29.7341 19.9999C29.7341 25.3752 25.3757 29.7336 20.0004 29.7336C14.6251 29.7336 10.3152 25.3752 10.3152 19.9999C10.3152 14.6246 14.6251 10.3147 20.0004 10.3147Z' fill='%23FE9013'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 0C31.0412 0 40 8.95884 40 20C40 31.0412 31.0412 40 20 40C8.95884 40 0 31.0412 0 20C0 8.95884 8.95884 0 20 0ZM20 1.79177C30.0726 1.79177 38.2567 9.92736 38.2567 20C38.2567 30.0726 30.0726 38.2567 20 38.2567C9.92736 38.2567 1.79177 30.0726 1.79177 20C1.79177 9.92736 9.92736 1.79177 20 1.79177Z' fill='%23FE9013'/%3E%3C/svg%3E%0A");
    cursor: default;
}

.donate__offer {
    max-width: 976px;
    width: 100%;
    margin-right: auto;
}

.donate__sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.donate__sum-item {
    position: relative;
    margin-left: 12px;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333B41;
    cursor: pointer;
}

.donate__sum-item::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 10px;
    height: 20px;
    transform: translate(-12px, 9px);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07792 6.25974C7.66234 5.87013 7.24675 5.58442 6.85714 5.37662C6.46753 5.19481 6.02597 5.09091 5.53247 5.09091C4.96104 5.09091 4.54545 5.22078 4.25974 5.45455C3.97403 5.68831 3.81818 6.07792 3.81818 6.5974C3.81818 6.96104 3.97403 7.2987 4.28571 7.53247C4.5974 7.79221 4.96104 8.02597 5.42857 8.25974C5.8961 8.49351 6.38961 8.72727 6.90909 8.98701C7.42857 9.24675 7.92208 9.53247 8.38961 9.8961C8.85714 10.2597 9.22078 10.6753 9.53247 11.1948C9.84416 11.7143 10 12.3377 10 13.0649C10 14.1818 9.68831 15.1429 9.09091 15.9481C8.49351 16.7532 7.55844 17.2727 6.36364 17.5584V20H4.1039V17.6623C3.42857 17.5844 2.7013 17.4026 1.94805 17.0909C1.19481 16.7792 0.545455 16.3896 0 15.8961L1.50649 13.5844C2.1039 14.026 2.67532 14.3636 3.19481 14.5974C3.74026 14.8312 4.28571 14.9351 4.83117 14.9351C5.48052 14.9351 5.97403 14.8052 6.25974 14.5455C6.57143 14.2857 6.72727 13.8701 6.72727 13.3247C6.72727 12.9091 6.57143 12.5714 6.25974 12.2857C5.94805 12 5.58442 11.7403 5.11688 11.4805C4.64935 11.2208 4.15584 10.961 3.63636 10.7013C3.11688 10.4416 2.62338 10.1299 2.15584 9.76623C1.68831 9.4026 1.32468 8.98701 1.01299 8.49351C0.701299 8 0.545455 7.42857 0.545455 6.72727C0.545455 5.58442 0.857143 4.62338 1.48052 3.87013C2.1039 3.11688 2.98701 2.62338 4.07792 2.41558V0H6.33766V2.36364C7.09091 2.46753 7.74026 2.7013 8.31169 3.03896C8.88312 3.37662 9.37662 3.79221 9.84416 4.28571L8.07792 6.25974Z' fill='%23333B41'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.donate__item-active {
    color: #FE9013;
    cursor: default;
}

.donate__item-active::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07792 6.25974C7.66234 5.87013 7.24675 5.58442 6.85714 5.37662C6.46753 5.19481 6.02597 5.09091 5.53247 5.09091C4.96104 5.09091 4.54545 5.22078 4.25974 5.45455C3.97403 5.68831 3.81818 6.07792 3.81818 6.5974C3.81818 6.96104 3.97403 7.2987 4.28571 7.53247C4.5974 7.79221 4.96104 8.02597 5.42857 8.25974C5.8961 8.49351 6.38961 8.72727 6.90909 8.98701C7.42857 9.24675 7.92208 9.53247 8.38961 9.8961C8.85714 10.2597 9.22078 10.6753 9.53247 11.1948C9.84416 11.7143 10 12.3377 10 13.0649C10 14.1818 9.68831 15.1429 9.09091 15.9481C8.49351 16.7532 7.55844 17.2727 6.36364 17.5584V20H4.1039V17.6623C3.42857 17.5844 2.7013 17.4026 1.94805 17.0909C1.19481 16.7792 0.545455 16.3896 0 15.8961L1.50649 13.5844C2.1039 14.026 2.67533 14.3636 3.19481 14.5974C3.74026 14.8312 4.28571 14.9351 4.83117 14.9351C5.48052 14.9351 5.97403 14.8052 6.25974 14.5455C6.57143 14.2857 6.72727 13.8701 6.72727 13.3247C6.72727 12.9091 6.57143 12.5714 6.25974 12.2857C5.94805 12 5.58442 11.7403 5.11688 11.4805C4.64935 11.2208 4.15584 10.961 3.63636 10.7013C3.11688 10.4416 2.62338 10.1299 2.15584 9.76623C1.68831 9.4026 1.32468 8.98701 1.01299 8.49351C0.701299 8 0.545455 7.42857 0.545455 6.72727C0.545455 5.58442 0.857143 4.62338 1.48052 3.87013C2.1039 3.11688 2.98701 2.62338 4.07792 2.41558V0H6.33766V2.36364C7.09091 2.46753 7.74026 2.7013 8.31169 3.03896C8.88312 3.37662 9.37662 3.79221 9.84416 4.28571L8.07792 6.25974Z' fill='%23FE9013'/%3E%3C/svg%3E%0A");
    cursor: default;
}

.donate__form {
    margin: 0 auto 25px;
    width: 268px;
    height: 54px;
}

.donate__input {
    width: 100%;
    padding: 15px 30px 15px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #929699;
    border: 1px solid #929699;
    border-radius: 2px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07792 6.25974C7.66234 5.87013 7.24675 5.58442 6.85714 5.37662C6.46753 5.19481 6.02597 5.09091 5.53247 5.09091C4.96104 5.09091 4.54545 5.22078 4.25974 5.45455C3.97403 5.68831 3.81818 6.07792 3.81818 6.5974C3.81818 6.96104 3.97403 7.2987 4.28571 7.53247C4.5974 7.79221 4.96104 8.02597 5.42857 8.25974C5.8961 8.49351 6.38961 8.72727 6.90909 8.98701C7.42857 9.24675 7.92208 9.53247 8.38961 9.8961C8.85714 10.2597 9.22078 10.6753 9.53247 11.1948C9.84416 11.7143 10 12.3377 10 13.0649C10 14.1818 9.68831 15.1429 9.09091 15.9481C8.49351 16.7532 7.55844 17.2727 6.36364 17.5584V20H4.1039V17.6623C3.42857 17.5844 2.7013 17.4026 1.94805 17.0909C1.19481 16.7792 0.545455 16.3896 0 15.8961L1.50649 13.5844C2.1039 14.026 2.67532 14.3636 3.19481 14.5974C3.74026 14.8312 4.28571 14.9351 4.83117 14.9351C5.48052 14.9351 5.97403 14.8052 6.25974 14.5455C6.57143 14.2857 6.72727 13.8701 6.72727 13.3247C6.72727 12.9091 6.57143 12.5714 6.25974 12.2857C5.94805 12 5.58442 11.7403 5.11688 11.4805C4.64935 11.2208 4.15584 10.961 3.63636 10.7013C3.11688 10.4416 2.62338 10.1299 2.15584 9.76623C1.68831 9.4026 1.32468 8.98701 1.01299 8.49351C0.701299 8 0.545455 7.42857 0.545455 6.72727C0.545455 5.58442 0.857143 4.62338 1.48052 3.87013C2.1039 3.11688 2.98701 2.62338 4.07792 2.41558V0H6.33766V2.36364C7.09091 2.46753 7.74026 2.7013 8.31169 3.03896C8.88312 3.37662 9.37662 3.79221 9.84416 4.28571L8.07792 6.25974Z' fill='%23929699'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat, repeat;
    background-position: right 9px top 50%, 0 0;
    background-size: 10px auto, 100%;
}

.donate__input::-webkit-outer-spin-button,
.donate__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate__input[type=number] {
    -moz-appearance: textfield;
}

.donate__input:focus {
    border-color: #4B9200;
    color: #4B9200;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07792 6.25974C7.66234 5.87013 7.24675 5.58442 6.85714 5.37662C6.46753 5.19481 6.02597 5.09091 5.53247 5.09091C4.96104 5.09091 4.54545 5.22078 4.25974 5.45455C3.97403 5.68831 3.81818 6.07792 3.81818 6.5974C3.81818 6.96104 3.97403 7.2987 4.28571 7.53247C4.5974 7.79221 4.96104 8.02597 5.42857 8.25974C5.8961 8.49351 6.38961 8.72727 6.90909 8.98701C7.42857 9.24675 7.92208 9.53247 8.38961 9.8961C8.85714 10.2597 9.22078 10.6753 9.53247 11.1948C9.84416 11.7143 10 12.3377 10 13.0649C10 14.1818 9.68831 15.1429 9.09091 15.9481C8.49351 16.7532 7.55844 17.2727 6.36364 17.5584V20H4.1039V17.6623C3.42857 17.5844 2.7013 17.4026 1.94805 17.0909C1.19481 16.7792 0.545455 16.3896 0 15.8961L1.50649 13.5844C2.1039 14.026 2.67532 14.3636 3.19481 14.5974C3.74026 14.8312 4.28571 14.9351 4.83117 14.9351C5.48052 14.9351 5.97403 14.8052 6.25974 14.5455C6.57143 14.2857 6.72727 13.8701 6.72727 13.3247C6.72727 12.9091 6.57143 12.5714 6.25974 12.2857C5.94805 12 5.58442 11.7403 5.11688 11.4805C4.64935 11.2208 4.15584 10.961 3.63636 10.7013C3.11688 10.4416 2.62338 10.1299 2.15584 9.76623C1.68831 9.4026 1.32468 8.98701 1.01299 8.49351C0.701299 8 0.545455 7.42857 0.545455 6.72727C0.545455 5.58442 0.857143 4.62338 1.48052 3.87013C2.1039 3.11688 2.98701 2.62338 4.07792 2.41558V0H6.33766V2.36364C7.09091 2.46753 7.74026 2.7013 8.31169 3.03896C8.88312 3.37662 9.37662 3.79221 9.84416 4.28571L8.07792 6.25974Z' fill='%234B9200'/%3E%3C/svg%3E%0A");
}

.donate__input:focus::placeholder {
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.donate__input:focus-visible {
    outline: transparent !important;
}

.donate__radio-menu {
    display: flex;
    max-width: 213px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}

.donate__radio-menu input {
    width: 10px;
    height: 10px;
    margin: 0px 13px 3px 0;
    outline: 1px solid #FE9013;
    outline-offset: 2px;
    border-color: transparent;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.donate__radio-menu label {
    cursor: pointer;
}

.donate__radio-menu label:first-of-type {
    margin-right: 50px;
}

.donate__radio-menu input:checked {
    border: 1px solid #FE9013;
    border-radius: 50%;
    background: #FE9013;
    cursor: pointer;
}

.donate__button-submit {
    display: block;
    max-width: 298px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.donate__button-submit:hover {
    background: #E47209;
}

.donate__button-submit:active {
    background: #4B9200;
}

.donate__last-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}

@media (max-width: 1000px) {

    .donate {
        padding-bottom: 30px;
    }

    .donate__title {
        margin-bottom: 29px;
    }

    .donate__info {
        margin-bottom: 41px;
    }

    .donate__content {
        padding: 19px 46px 46px;
    }

    .donate__content-title {
        margin-bottom: 11px;
    }

    .donate__amout-block {
        margin-bottom: 44px;
    }

    .donate__band-block {
        max-width: 810px;
        width: 100%;
        margin: 0 auto 50px;
    }

    .donate__band-title {
        margin-left: 0;
    }

    .donate__circles {
        width: 104.3%;
        left: -16px;
    }

    .donate__circles .donate__circle:first-of-type {
        display: none;
    }

    .donate__sum .donate__sum-item:first-of-type {
        display: none;
    }

    .donate__amout-block .amount__animal:first-of-type {
        display: none;
    }

    .donate__sum {
        margin-right: -12px;
    }

    .donate__radio-menu input {
        margin-right: 10px;
    }

    .donate__radio-menu {
        margin-bottom: 30px;
    }
}

@media (max-width: 640px) {

    .donate {
        padding: 30px 20px 46px;
    }

    .donate__title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 29px;
    }

    .donate__descr {
        margin-bottom: 30px;
    }

    .donate__info {
        margin-bottom: 30px;
    }

    .donate__content {
        padding: 29px 0 30px;
    }

    .donate__content-title {
        margin-bottom: 21px;
        margin-right: -2px;
    }

    .donate__content-subtitle {
        margin-bottom: 50px;
        text-align: center;
    }

    .donate__amout-block {
        margin-bottom: 37px;
    }

    .amount__animal-active {
        margin-left: 2px;
    }

    .donate__band-title {
        margin-left: 10px;
        margin-bottom: 0;
    }

    .donate__circles .donate__circle:nth-of-type(2), 
    .donate__circles .donate__circle:nth-of-type(3) {
        display: none;
    }

    .donate__sum .donate__sum-item:nth-of-type(2), 
    .donate__sum .donate__sum-item:nth-of-type(3) {
        display: none;
    }

    .donate__amout-block .amount__animal:nth-of-type(2), 
    .donate__amout-block .amount__animal:nth-of-type(3) {
        display: none;
    }

    .donate__circles {
        width: 97%;
        left: 8px;
    }

    .donate__sum {
        margin-left: 15px;
        margin-right: 20px
    }

    .donate__form {
        width: 180px;
        margin-bottom: 19px;
    }

    .donate__input {
        padding: 9px 25px 9px 5px;
    }

    .donate__radio-menu input {
        margin-right: 9px;
    }
}

@media (max-width: 520px) {

    .donate {
        padding: 30px 10px 21px;
    }

    .donate__info {
        font-size: 24px;
        line-height: 29px;
    }

    .donate__content {
        padding: 20px 0;
    }

    .donate__content-title {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 29px
    }

    .donate__content-subtitle {
        margin-bottom: 11px;
        font-size: 16px;
        line-height: 22px
    }

    .donate__amout-block {
        margin-bottom: 0px;
    }

    .donate__band-block {
        margin-bottom: 25px;
    }

    .donate__band-title {
        margin-left: 0;
    }

    .donate__band {
        height: auto;
        margin-bottom: 6px;
        padding-top: 8px;
        padding-bottom: 0;
    }

    .donate__band-base {
        height: 14px;
        padding: 6px;
    }

    .donate__circles {
        left: 5px;
        bottom: 11px;
    }

    .donate__circle {
        width: 20px;
        height: 20px;
    }

    .donate__sum-item {
        font-size: 13px;
        line-height: 18px;
    }

    .donate__sum {
        margin-left: 2px;
        margin-right: 11px;
    }

    .donate__sum-item::before {
        width: 5px;
        height: 10px;
        transform: translate(-5px, 4px);
    }

    .donate__form {
        margin-bottom: 13px;
    }

    .donate__radio-menu {
        margin-bottom: 27px;
    }

    .donate__last-text {
        letter-spacing: -0.05px;
    }
}
