.header {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header__logo {
    transition: 0.5s ease-in-out;
}

.header__logo:hover {
    transform: scale(1.1);
}

.header__nav {
    margin: 0 63px;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px 58px;
    flex-wrap: wrap;
}

.nav__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.header__design {
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    white-space: nowrap;
}

.nav__link_active {
    cursor: default;
}

.nav__link_active, 
.nav__link:hover, 
.nav__link:active, 
.header__design:hover, 
.header__design:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 1s ease-in-out;
}










/*
.header__nav-btn {
    display: none;
}

@media (max-width: 1024px) {
    .header__text {
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width: 768px) {
    .header__nav-btn {
        display: block;
        background-color: transparent;
        border: 0;
        line-height: 0;
    }

    .header__nav {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: #ffffff;
        transition: transform 0.3s ease-in-out;
    }

    .header__nav_open {
        transform: translateY(calc(100% - 1px));
    }
}

@media (max-width: 480px) {
    .header__container {
        padding-bottom: 15px;
    }
}
*/